body {
    background: linear-gradient(180deg, #dddcdd 0%, #464345c9 100%);
    font-family: 'Cutive Mono', monospace !important;
}

.titre {
    color: black;
    font-size: 70px;
    font-family: 'Cutive Mono', monospace;
}

.btn-success{
    background: black !important;
    border-color: rgba(0, 0, 0, 0.603) grey !important;
}
.btn-success:hover{
    background: grey !important;
}


.titrePost {
    margin-top : 30px;
}

.inter{
border-style: dotted;
background-color: rgba(255, 245, 245, 0.568);
}

.histo{
    border-style: dotted;
    background-color: rgba(255, 245, 245, 0.568);
    }

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    /* display: none; */
    width: 40px;
    height: 40px;
    right: 40px;
    bottom: 25px;
    color: black;
    transition: display 0.5s ease-in-out;
    z-index: 99999;
  }
  
  .back-to-top i {
    font-size: 50px !important;
    position: absolute !important;
    top: 7px;
    left: 8px;
  }
  
  .back-to-top:hover {
    color: rgb(78, 77, 77);
    transition: background 0.2s ease-in-out;
  }